#invites > #content {
  float: left;
  width: 35rem;
}

#invites > #content > .textInput {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

#invites > #content > .v-select {
  width: 100%;
  background-color: white;
}

#invites > #content > .v-select > ul > li > img.tinyAvatar {
  width: 35px;
  height: 35px;
}

#invites > #content > .v-select > ul > li > span {
  vertical-align: top;
}

#invites > #content > .description {
  font-size: smaller;
  margin-bottom: 10px;
  margin-top: -10px;
}

#invites > #status {
  float: right;
}

#invites > #status > img {
  width: auto;
}
