html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,NotoColorEmoji;
  line-height: 1.5;
  overflow-wrap: break-word;
}

body {
  max-width: 45rem;
  padding: 1rem;
  margin: auto;
  background-color: #fdf6e3;

  /* mobile fix */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.router-link-exact-active {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: underline;
}

#navigation {
  font-weight: 600;
}

#navigation > a {
  color: #000;
}

#messages, #settings {
  font-weight: 400;
  font-style: normal;
  font-family: system-ui, sans-serif
}

#goTo {
  width: 170px;
  padding: 5px;
  float: right;
}

.message > span img {
  max-width: 100%;
}

.message > span video {
  max-width: 100%;
}

code {
  white-space: pre-wrap;
}

@font-face {
  font-family: 'NotoColorEmoji';
  src: url('./NotoColorEmoji.ttf') format('truetype');
}

.emoji {
  font-family: NotoColorEmoji;
  font-size: 120%;
  line-height: 1;
}

.theme-dark #channels ol,
.message {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1rem 0;
  border-radius: 2px;
  border: 1px solid hsl(240, 12%, 92%);
  word-wrap: break-word;
  background-color: white;
}

#public .message {
  max-height: 800px;
  overflow: hidden;
}

.message > .header {
  display: table;
  width: 100%;
}

.message > .header > span > a > .avatar {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  display: table-cell;
}

.message > .header > .profile {
  display: table-cell;
  width: 50px;
}

.message > .header > .text {
  vertical-align: top;
  display: table-cell;
}

.message > .header > .channel {
  vertical-align: top;
  display: table-cell;
  text-align: right;
}

.message > .header > .text > .date {
  font-size: small;
  margin-bottom: 5px;
}

.messageTitle {
  width: 100%;
  margin-bottom: 0.5em;
}

.messageText {
  height: 10rem;
  width: 100%;
  max-width: 45rem;
  padding: 5px;
}

.clickButton {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .7rem;
  letter-spacing: 1.4px;
  color: #666;
  background-color: #fff;
  min-width: 6rem;
  min-height: 1.8rem;
  padding: .5rem 1rem;
  cursor: pointer;
  border: 1px solid rgb(169, 169, 169);
}

.newPublic, .newPrivate {
  cursor: pointer;
}

.fileInput {
  margin-left: 2rem;
}

/* pull to refresh */
body.refreshing #public {
  filter: blur(1px);
  touch-action: none; /* prevent scrolling */
}
body.refreshing .refresher {
  transform: translate3d(0,150%,0) scale(1);
  z-index: 1;
  visibility: visible;
}
.refresher {
  pointer-events: none;
  --refresh-width: 100px;
  width: var(--refresh-width);
  height: var(--refresh-width);
  position: absolute;
  left: calc(50% - var(--refresh-width) / 2);
  visibility: hidden;
}
.refresher img {
  width: 100px;
  height: 100px;
}

body, html {
  overscroll-behavior-y: contain; /* disable pull to refresh, keeps glow effects */
}

#footer {
  position: fixed;
  bottom: 0;
  margin-top: -1.5rem;
  height: 1.5rem;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #ccc;
  justify-content: space-evenly;
  display: none;
  width: 92%;
}

#footer span {
  font-size: x-small;
}

.navButton {
  margin: 0rem 0.5rem;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: bold;
  color: #000;
  padding: 0.3rem 0rem;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

@media (min-resolution: 2dppx) and (max-width: 40em)
{
  #navigation {
    display: none;
  }

  #footer {
    display: flex;
  }
}

.reactions
{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.reactions .reactions-existing,
.reactions .reactions-mine,
.reactions .reactions-new
{
  display: inline-block;
  padding: 0.5em;
}

.reactions .reactions-mine,
.reactions .reactions-new
{
  border-left: 1px solid #ccc;
}

.reactions .reactions-mine a,
.reactions .reactions-new a
{
  text-decoration: none;
}

.reactions .reactions-existing > span,
.reactions .reactions-mine > span,
.reactions .reactions-new > span
{
  padding: 3px;
}

#channels ol
{
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 3;
  column-gap: 3em;
  line-height: 125%;
}

#channels ol li
{
  display: block;
}

#channels ol li a
{
  display: inline-block;
  padding: 0.75em;
}

.get-started-button
{
  background-color: #393;
  color: #fff;
}

.get-started-button:hover
{
  background-color: #6c6;
}

/* Emoji menu */
.message
{
  position: relative;
}

.message .vue-simple-context-menu
{
  max-width: 40%;
  font-family: inherit;
}

.message .vue-simple-context-menu li.vue-simple-context-menu__item
{
  display: inline-block;
  padding: 5px;
}
