html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,NotoColorEmoji;
  line-height: 1.5;
  overflow-wrap: break-word;
}

body {
  max-width: 45rem;
  padding: 1rem;
  margin: auto;
  background-color: #fdf6e3;

  /* mobile fix */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.router-link-exact-active {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: underline;
}

#navigation {
  font-weight: 600;
  float: left;
  margin: 1em 0;
}

#navigation > a {
  color: #000;
}

#messages, #settings {
  font-weight: 400;
  font-style: normal;
  font-family: system-ui, sans-serif
}

#searchBox {
  display: inline-block;
  float: right;
  width: 150px;
  margin: 1em 0;
}

#goTo {
  float: right;
  width: 160px;
  padding: 5px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: width 0.5s, box-shadow 0.5s;
}

#goTo::placeholder {
  text-align: right;
}

#searchBox.expanded #goTo {
  width: 200px;
  box-shadow: 0 1px 1em rgba(0, 0, 0, 0.5);
}

#suggestionPositioning {
  position: relative;
  clear: right;
}

#searchBox .suggestion-box {
  width: 200px;
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

#searchBox.expanded .suggestion-box {
  opacity: 1;
  visibility: visible;
}

#searchBox .tui-popup-body {
  font-size: medium;
}

#searchBox .suggestion-box img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 2px;
  margin-left: -8px;
  vertical-align: middle;
}

#navClear {
  clear: both;
}

.message > span img {
  max-width: 100%;
}

.message > span video {
  max-width: 100%;
}

code {
  white-space: pre-wrap;
}

@font-face {
  font-family: 'NotoColorEmoji';
  src: url('./NotoColorEmoji.ttf') format('truetype');
}

.emoji {
  font-family: NotoColorEmoji;
  font-size: 120%;
  line-height: 1;
}

.theme-dark #channels ol,
.message {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1rem 0;
  border-radius: 2px;
  border: 1px solid hsl(240, 12%, 92%);
  word-wrap: break-word;
  background-color: white;
}

#public .message {
  max-height: 800px;
  overflow: hidden;
}

.message .contactMessage .contactLink,
.message > .header {
  display: table;
  width: 100%;
}

.message .contactMessage .contactLink .profile .avatar,
.message > .header > span > a > .avatar {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  display: table-cell;
}

.message .contactMessage .contactLink .profile,
.message > .header > .profile {
  display: table-cell;
  width: 50px;
}

.message .contactMessage .contactLink .text {
  vertical-align: middle;
  display: table-cell;
}

.message > .header > .text {
  vertical-align: top;
  display: table-cell;
}

.message > .header > .channel {
  vertical-align: top;
  display: table-cell;
  text-align: right;
}

.message > .header > .text > .date {
  font-size: small;
  margin-bottom: 5px;
}

.message .profileUpdate img.avatar {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.messageTitle {
  width: 100%;
  margin-bottom: 0.5em;
}

.messageText {
  height: 10rem;
  width: 100%;
  max-width: 45rem;
  padding: 5px;
}

.clickButton {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .7rem;
  letter-spacing: 1.4px;
  color: #666;
  background-color: #fff;
  min-width: 6rem;
  min-height: 1.8rem;
  padding: .5rem 1rem;
  cursor: pointer;
  border: 1px solid rgb(169, 169, 169);
}

.newPublic, .newPrivate {
  cursor: pointer;
}

.fileInput {
  margin-left: 2rem;
}

/* pull to refresh */
body.refreshing #public {
  filter: blur(1px);
  touch-action: none; /* prevent scrolling */
}
body.refreshing .refresher {
  transform: translate3d(0,150%,0) scale(1);
  z-index: 1;
  visibility: visible;
}
.refresher {
  pointer-events: none;
  --refresh-width: 100px;
  width: var(--refresh-width);
  height: var(--refresh-width);
  position: absolute;
  left: calc(50% - var(--refresh-width) / 2);
  visibility: hidden;
}
.refresher img {
  width: 100px;
  height: 100px;
}

body.ssbError .modalError {
  display: table;
}
.modalError {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
}
.modalError > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.modalError > div > div {
  display: inline-block;
  padding: 3em;
  background: #fff;
  color: #000;
}

body, html {
  overscroll-behavior-y: contain; /* disable pull to refresh, keeps glow effects */
}

#footer {
  position: fixed;
  bottom: 0;
  margin-top: -1.5rem;
  height: 1.5rem;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #ccc;
  justify-content: space-evenly;
  display: none;
  width: 92%;
}

#footer span {
  font-size: x-small;
}

.navButton {
  margin: 0rem 0.5rem;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: bold;
  color: #000;
  padding: 0.3rem 0rem;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

#navigation .avatar {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

#navigation .iconButton {
  text-decoration: none;
}

.navButton .avatar {
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
}

#navigation .connected-indicator {
  width: 0.5em;
  display: inline-block;
  margin-left: -0.5em;
  position: relative;
  top: -0.5em;
}

#footer .newPublic,
#footer .newPrivate,
#footer .connected-indicator {
  margin-left: -1em;
  position: relative;
  top: -3px;
}

@media (max-width: 40em)
{
  body {
    padding: 0.5em;
  }

  #app > h1 {
    margin-bottom: 0;
  }

  #searchBox {
    margin: 0.5em 0 0 0;
  }

  .message {
    padding: 1rem 1rem 0.25rem 1rem;
  }
}

/* Only switch to footer-based navigation when we're clearly on a mobile device and the screen's wide enough to support it. */
@media (min-resolution: 2dppx) and (max-width: 40em) and (min-width: 22em)
{
  #navigation {
    display: none;
  }

  #footer {
    display: flex;
    width: 100%;
    margin-left: -0.5em;
  }
}

.reactions
{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

.reactions .reactions-existing,
.reactions .reactions-mine,
.reactions .reactions-new
{
  display: inline-block;
  padding: 0.5em;
}

.reactions .reactions-mine,
.reactions .reactions-new
{
  border-left: 1px solid #ccc;
}

.reactions .reactions-mine a,
.reactions .reactions-existing a,
.reactions .reactions-new a
{
  text-decoration: none;
}

.reactions .reactions-existing > span,
.reactions .reactions-mine > span,
.reactions .reactions-new > span
{
  padding: 3px;
}

#channels ol
{
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 3;
  column-gap: 3em;
  line-height: 125%;
}

#channels ol li
{
  display: block;
}

#channels ol li a
{
  display: inline-block;
  padding: 0.75em;
}

.get-started-button
{
  background-color: #393;
  color: #fff;
}

.get-started-button:hover
{
  background-color: #6c6;
}

a.blockedAvatar
{
  display: inline-block;
  position: relative;
}

a.blockedAvatar img
{
  filter: blur(4px);
  -moz-filter: blur(4px);
}

a.blockedAvatar span.blockedSymbol
{
  display: block;
  font-size: 35px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  text-align: center;
}

/* Emoji menu */
.message
{
  position: relative;
}

.message .vue-simple-context-menu
{
  max-width: 40%;
  font-family: inherit;
}

.message .vue-simple-context-menu li.vue-simple-context-menu__item
{
  display: inline-block;
  padding: 5px;
}

textarea.source
{
  width: 100%;
  height: 20em;
  white-space: nowrap;
}
