#profile > span > .avatar > img {
  width: 13rem;
  height: 13rem;
}

#profile > h2 {
  clear: both;
}

#profile > span > div > button.clickButton {
  margin-left: 1rem;
}

#profile > div#follows > div > a > img {
  width: 50px;
  height: 50px;
}

#profile > div#follows > div {
  float: left;
  padding-right: 0.5rem;
}

/* edit */

#profile > span > div > textarea {
  width: 100%;
  height: 15rem;
}

#profile > span > div > button {
  margin: 32px 0px 0px 0px;
  float: right;
}

#profile > span > div > input#name {
  padding: 5px;
  margin: 10px 0px 10px 0px;
}

#profile > span > div > input {
  width: 13rem;
}

/* mnemonic */

#profile > div.modal-mask > div > div > div > textarea {
  width: 100%;
  height: 10rem;
}
