#settings > #status > .indexstatus {
  float: right;
  width: auto;
}

#settings > .settingsleft {
  float: left;
}

#settings > .settingsleft > #syncData {
  margin-bottom: 25px;
  padding: 10px;
}

#settings > .settingsleft > #remoteAddress {
  width: 300px;
  padding: 5px;
}

#settings > .settingsleft > .textInput {
  width: 300px;
  padding: 5px;
}

#settings > #status {
  float: right;
  width: 55%;
}

#settings > #peerinvites {
  clear: both;
}

#settings > #peerinvites > .textInput {
  width: 500px;
  padding: 5px;
  margin-top: 10px;
}

#settings > #peerinvites > .v-select {
  width: 500px;
  background-color: white;
}

#settings > #peerinvites > .v-select > ul > li > img.tinyAvatar {
  width: 35px;
  height: 35px;
}

#settings > #peerinvites > .v-select > ul > li > span {
  vertical-align: top;
}

#settings > #peerinvites > #inviteDescription {
  font-size: smaller;
  margin-bottom: 10px;
  margin-top: -10px;
}

#settings > #build {
  margin-top: 25px;
}
