#settings > #status > .indexstatus {
  float: right;
}

#settings > .settingsleft {
  float: left;
}

#settings > .settingsleft > #syncData {
  margin-bottom: 25px;
  padding: 10px;
}

#settings > .settingsleft > #remoteAddress {
  width: 300px;
  padding: 5px;
}

#settings > .settingsleft > .textInput {
  width: 300px;
  padding: 5px;
}

#settings > #status {
  float: right;
  width: 55%;
}

#settings > #peerinvites {
  clear: both;
}

#settings > #peerinvites > .textInput {
  width: 500px;
  padding: 5px;
  margin-top: 10px;
}

#settings > #peerinvites > .v-select {
  width: 500px;
  background-color: white;
}

#settings > #peerinvites > .v-select > ul > li > img.tinyAvatar {
  width: 35px;
  height: 35px;
}

#settings > #peerinvites > .v-select > ul > li > span {
  vertical-align: top;
}

#settings > #peerinvites > #inviteDescription {
  font-size: smaller;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* modal */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  height: 30px;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
