@font-face
{
  /* From: https://fontlibrary.org/en/font/blocus */
  font-family: "BlocusRegular";
  src: url("./blocuswebfont.ttf");
}

.theme-floralgardenbird
{
  background-color: #fbebf4ff;
  background-image: url("../assets/openclipart-223534.png"); /* By: GDJ, from: https://openclipart.org/detail/223534/floral-garden-seamless-pattern */
  background-size: 50%;
  color: #000;
}

.theme-floralgardenbird h1,
.theme-floralgardenbird h2
{
  color: #8d2a89;
  font-family: "BlocusRegular", monospace;
}

.theme-floralgardenbird h1
{
  font-size: 400%;
  margin: 0;
}

.theme-floralgardenbird h2
{
  font-size: 170%;
}

.theme-floralgardenbird #app
{
  margin: -3em;
  padding: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.theme-floralgardenbird #profile .description a,
.theme-floralgardenbirg #navigation > a
{
  color: #fff;
}

.theme-floralgardenbird .message,
.theme-floatlgardenbird #channels ol
{
  border-color: #ccc;
  border-radius: 5px;
  color: #000;
}

.theme-floralgardenbird .message a
{
  color: #333;
}

.theme-floralgardenbird .clickButton
{
  background-color: #ccc;
  background-image: linear-gradient(#fff, #aaa);
  color: #000;
  border-radius: 3px;
  border-color: #000;
}

.theme-floralgardenbird input[type="text"]
{
  background-color: #ddd;
  background-image: linear-gradient(#bbb, #fff);
  color: #000;
  border: 1px solid #000;
}

@media (min-resolution: 2dppx) and (max-width: 40em)
{
  .theme-floralgardenbird #app
  {
    /* This messes up the positioning of the footer if not removed, so in the interest of readability, we're going to use a solid color instead. */
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background: #fbebf4ff;
  }
}
