.theme-ethereal
{
  background-color: #667b9e;
  background-image: url("../assets/openclipart-1392738806.svg"); /* By: anarres, from: https://openclipart.org/detail/191047/background-design */
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: none;
  color: #fff;
}

.theme-ethereal #profile .description a,
.theme-ethereal #navigation > a
{
  color: #fff;
}

.theme-ethereal .message,
.theme-ethereal #threads > div,
.theme-ethereal #channels ol
{
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  color: #000;
  border-radius: 5px;
}

.theme-ethereal #threads > div,
.theme-ethereal #threads > div th,
.theme-ethereal #threads > div td
{
  color: #555;
}

.theme-ethereal .message a
{
  color: #333;
}

.theme-ethereal .clickButton
{
  background-color: #85abc6;
  background-image: linear-gradient(#a7ceea, #495f80);
  color: #fff;
  border-radius: 3px;
  border-color: #fff;
}

.theme-ethereal input[type="text"]
{
  background-color: #85abc6;
  background-image: linear-gradient(#495f80, #85abc6);
  color: #fff;
  border: 1px solid #fff;
}

.theme-ethereal input[type="text"]::placeholder
{
  color: #a7ceea;
}
